@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&family=Cormorant:ital,wght@0,400;0,500;1,400&display=swap");

/* Components */
@import url("./components/button.css");
@import url("./components/modal.css");
@import url("./components/bg.css");
@import url("./components/custom_modal.css");
@import url("./components/top_bar.css");

/* Pages */
@import url("./pages/home.css");
@import url("./pages/lobby.css");
@import url("./pages/game.css");


body, html {
    font-family: 'Cormorant', serif;
    font-size: 1.25rem;
    color: #FFF;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cormorant Unicase', serif;
    font-weight: 700;
    text-shadow: 2px 3px 5px #000;
    text-align: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

form {
    background: none;
}

::-webkit-scrollbar {
    display: none;
}