.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2rem;
}

.home .logo {
    min-width: 300px;
    max-width: 20%;
    margin-bottom: 2rem;
    filter: drop-shadow(0.05rem 0.25rem 0.15rem #000);
}

.home .menu {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 450px;
    max-width: 1200px;
}

.home .menu .banner {
    display: block;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0.05rem 0.25rem 0.15rem #000);
}

.home .menu .btn-group {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .menu button {
    margin-bottom: 2rem;
}

.home #on_play-content > * {
    margin-bottom: 2rem;
}

.home .avalon-modal .actions {
    display: flex;
    justify-content: center;
}