.credits-modal.avalon-modal,
.help-modal.avalon-modal {
    display: flex;
    flex-direction: column;
}

.credits-modal.avalon-modal {
    overflow-y: scroll;

    background: linear-gradient(to bottom, rgba(40, 40, 52, 1), rgba(40, 40, 52, 0)),
        bottom / cover url("/images/backgrounds/custom-modal-bg.jpg");
}

.credits-modal h2 {
    margin-top: 5%;
}

.help-modal.avalon-modal {
    background: linear-gradient(to bottom, rgba(40, 40, 52, 1), rgba(40, 40, 52, 0)),
        bottom / cover url("/images/backgrounds/custom-modal-bg.jpg");
}

.help-modal h2 {
    margin-top: 5%;
}

.help-modal .rounds {
	border-collapse: collapse;
	margin: 0px auto;
    width: 40%;
}

.help-modal .rounds tr, .help-modal .rounds td {
	border: 3px solid black;
	padding: 8px;
	text-align: center;
	background-color: #f2f2f2;
	color: #444;
    font-weight: bold;
}

.help-modal .rounds th {
	background-color: #f2f2f2;
	color: #444;
	border: 3px solid black;
    padding: 8px;
}

.credits-modal .link {
    color: #fff338;
}

.end-game-modal.avalon-modal header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end-game-modal.arthur.avalon-modal {
    height: 400px;
    background: linear-gradient(to bottom, rgba(40, 40, 52, 1), rgba(40, 40, 52, 0)),
        bottom / cover url("/images/backgrounds/knights-win-modal.png")
}

.end-game-modal.mordred.avalon-modal {
    height: 400px;
    background: linear-gradient(to bottom, rgba(40, 40, 52, 1), rgba(40, 40, 52, 0)),
        bottom / cover url("/images/backgrounds/mordred-win-modal.jpg")
}
