.avalon-top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.avalon-top-bar > * {
    margin: 0 0.5rem;
}

.avalon-sound-toggle {
    cursor: pointer;
}